################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SchedulerJobs/.vs/SchedulerJobs
/SchedulerJobs/SchedulerJobs.Common/bin/Debug
/SchedulerJobs/SchedulerJobs.Common/obj
/SchedulerJobs/SchedulerJobs.Services/bin/Debug
/SchedulerJobs/SchedulerJobs.Services/obj
