################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SchedulerJobs/.vs/SchedulerJobs
/SchedulerJobs/SchedulerJobs.Common/bin
/SchedulerJobs/SchedulerJobs.Common/obj
/SchedulerJobs/SchedulerJobs.Services/bin
/SchedulerJobs/SchedulerJobs.Services/obj
/SchedulerJobs/SchedulerJobs.UnitTests/bin
/SchedulerJobs/SchedulerJobs.UnitTests/obj
/SchedulerJobs/SchedulerJobs/Properties/PublishProfiles/vh-scheduler-jobs-dev - Zip Deploy.pubxml
